PROFILE=dev

ENV_TEST=Hello World!
MYSQL_HOST=localhost:3306
MYSQL_USERNAME=root
MYSQL_PASSWORD=root
MYSQL_DATABASE=online_learning

UPLOAD_DIRECTORY_DEV=D:\online-learning-upload
UPLOAD_DIRECTORY=/home/online-learning-upload

UPLOAD_IMAGE_DIRECTORY=images

ALLOWED_IMAGE_EXTENSIONS=jpg,jpeg,png

MAILGUN_BASE_URL=sample
MAILGUN_API_KEY=sample
MAILGUN_DOMAIN=sample

GOOGLE_CLIENT_ID=390865998591-e56gin8p87lfdvh1ulisvj75bcs78hss.apps.googleusercontent.com